.card-price-container {
  position: absolute;
  width: 100%;
  color: var(--text-color);
  bottom: 0;
  left: 0;
  background-color: var(--label-color);
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  font-family: Calibri;

  .card-price-title {
    margin: 0.5rem;
    h3 {
      margin: 0;
      padding: 0;
    }
  }

  .card-price-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .card-price-console {
      font-size: 1rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      margin-left: 0.35rem;
      span {
        font-weight: bolder;
        color: var(--primary-color);
        margin-right: 0.5rem;
      }
    }

    .card-price-value {
      font-size: 1rem;
      font-weight: bold;
      margin-right: 0.5rem;
    }
  }
}
